* {
  box-sizing: border-box;
}

:root {
  --black: rgb(28 28 27);
  --white: rgba(255,255,255,90%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--black);
  color: var(--white);
}
